<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Adri's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 16.05.2015, 15:25</p>
            <h2><a href="">Hello World!</a></h2>
            <p>Lorem ipsum.</p>
        </div>

        <div>
            <p>published: 16.05.2015, 15:30</p>
            <h2><a href="">This is me again</a></h2>
            <p>Lorem ipsum.</p>
        </div>
    </body>
</html>
